//        $ionicModal.fromTemplateUrl('http://localhost:8100/#/payment/paypal', {
//        $ionicModal.fromTemplateUrl('payment/pp_standard.html', {
//            scope: $scope,
//            animation: 'slide-in-up',
//            backdropClickToClose: true
//        }).then(function (modal) {
//            $scope.modal = modal;
//        });
//
//        $scope.OnPayPalSubmited = function (input) {
//            document.getElementById('paypalForm').submit();
//        }
//        $scope.OpenModal = function () {
//            $scope.modal.show();
////            var ref = window.open('templates/payment/paypal.html','_self', 'location=yes');
//        };
//        $scope.CloseModal = function () {
//            $scope.modal.hide();
//        };

<ion-modal-view ng-controller="PaypalCtrl">
    <ion-header-bar>
        <h1 class="title">Paypal</h1>
    </ion-header-bar>
    <ion-content>
        Loading...!!!!

        <form id="paypalForm" action="" method="post">

            <!--<input type="hidden" name="{{ key }}" value="{{ value }}" ng-repeat="(key, value) in paypalData"/>-->

            <!--<div ng-repeat="product in products">-->
            <!--<input type="hidden" name="{{ key }}_{{ product.number }}" value="{{ value }}" ng-repeat="(key, value) in product"/>-->
            <!--</div>-->

            <!--<input type="hidden" name="cmd" value="_cart"/>-->
            <!--<input type="hidden" name="upload" value="1"/>-->
            <!--<input type="hidden" name="business" value="mr.kaewdok@gmail.com"/>-->

            <!--<input type="hidden" name="item_name_1" value="iPhone"/>-->
            <!--<input type="hidden" name="item_number_1" value="product 11"/>-->
            <!--<input type="hidden" name="amount_1" value="1.00"/>-->
            <!--<input type="hidden" name="quantity_1" value="1"/>-->
            <!--<input type="hidden" name="weight_1" value="1"/>-->

            <!--<input type="hidden" name="currency_code" value="USD"/>-->
            <!--<input type="hidden" name="first_name" value="Chatchai"/>-->
            <!--<input type="hidden" name="last_name" value="Kaewdok"/>-->
            <!--<input type="hidden" name="address1" value="2355/87"/>-->
            <!--<input type="hidden" name="address2" value=""/>-->
            <!--<input type="hidden" name="city" value="Bangkok"/>-->
            <!--<input type="hidden" name="zip" value="10250"/>-->
            <!--<input type="hidden" name="country" value="TH"/>-->
            <!--<input type="hidden" name="address_override" value="0"/>-->
            <!--<input type="hidden" name="email" value="mr.kaewdok@gmail.com"/>-->
            <!--<input type="hidden" name="invoice" value="200 - Chatchai Kaewdok"/>-->
            <!--<input type="hidden" name="lc" value="en"/>-->
            <!--<input type="hidden" name="rm" value="2"/>-->
            <!--<input type="hidden" name="no_note" value="1"/>-->
            <!--<input type="hidden" name="no_shipping" value="1"/>-->
            <!--<input type="hidden" name="charset" value="utf-8"/>-->
            <!--<input type="hidden" name="return" value="#/tab/cart"/>-->
            <!--<input type="hidden" name="notify_url"-->
            <!--value="http://192.168.1.34/Projects/Opencart/Present/2.0/index.php?route=payment/pp_standard/callback"/>-->
            <!--<input type="hidden" name="cancel_return" value="#/tab/cart"/>-->
            <!--<input type="hidden" name="paymentaction" value="authorization"/>-->
            <!--<input type="hidden" name="custom" value="200"/>-->
            <!--<input type="hidden" name="bn" value="OpenCart_2.0_WPS"/>-->

            <div class="row">
                {{ paypalData }}
            </div>


            <div class="row">
                <button class="button button-block button-positive activated">Pay Now</button>
            </div>
        </form>

        <!--<form id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="POST">-->
        <form id="paypalForm" action="https://www.paypal.com/cgi-bin/webscr" method="POST">
            <input type="hidden" name="cmd" value="_cart"/>
            <input type="hidden" name="upload" value="1"/>
            <input type="hidden" name="business" value="mr.kaewdok@gmail.com"/>

            <input type="hidden" name="item_name_1" value="iPhone"/>
            <input type="hidden" name="item_number_1" value="product 11"/>
            <input type="hidden" name="amount_1" value="1.00"/>
            <input type="hidden" name="quantity_1" value="1"/>
            <input type="hidden" name="weight_1" value="1"/>

            <input type="hidden" name="currency_code" value="USD"/>
            <input type="hidden" name="first_name" value="Chatchai"/>
            <input type="hidden" name="last_name" value="Kaewdok"/>
            <input type="hidden" name="address1" value="2355/87"/>
            <input type="hidden" name="address2" value=""/>
            <input type="hidden" name="city" value="Bangkok"/>
            <input type="hidden" name="zip" value="10250"/>
            <input type="hidden" name="country" value="TH"/>
            <input type="hidden" name="address_override" value="0"/>
            <input type="hidden" name="email" value="mr.kaewdok@gmail.com"/>
            <input type="hidden" name="invoice" value="2 - Chatchai Kaewdok"/>
            <input type="hidden" name="lc" value="en"/>
            <input type="hidden" name="rm" value="2"/>
            <input type="hidden" name="no_note" value="1"/>
            <input type="hidden" name="no_shipping" value="1"/>
            <input type="hidden" name="charset" value="utf-8"/>
            <input type="hidden" name="return" value="#/tab/cart"/>
            <input type="hidden" name="notify_url"
                   value="http://192.168.1.34/Projects/Opencart/Present/2.0/index.php?route=payment/pp_standard/callback"/>
            <input type="hidden" name="cancel_return" value="#/tab/cart"/>
            <input type="hidden" name="paymentaction" value="authorization"/>
            <input type="hidden" name="custom" value="2"/>
            <input type="hidden" name="bn" value="OpenCart_2.0_WPS"/>


            <div class="row">
                <button class="button button-block button-positive activated" type="submit">Pay</button>
            </div>

        </form>

        <div class="row">
            <button class="button button-block button-positive activated" ng-click="Confirm()">Close</button>
        </div>


    </ion-content>
</ion-modal-view>
<script type="text/javascript">

    document.addEventListener("deviceready", onDeviceReady, false);
    function onDeviceReady() {
        console.log(device.cordova);
    }
</script>