<ion-view title="Billing Details" hide-nav-bar="true">
    <ion-content has-header="true" padding="true" class="padding">

        <h1>Billing Details:</h1>

        <div class="list">
            <ion-radio ng-model="billing_address" ng-click="setBillingAddress(0)" value="0">NONE</ion-radio>
            <div ng-repeat="address in addresses">
                <ion-radio ng-model="billing_address" ng-click="setBillingAddress(address.address_id)" value="{{ address.address_id }}">
                    {{ address.address_1 }} {{ address.address_2 }}
                    <div class="col">
                        <label class="font-10">
                            {{ address.city }} {{ address.postcode }} {{ address.country }}
                        </label>
                    </div>

                </ion-radio>
            </div>
        </div>

        <div class="row">
            Select:
        </div>

        <div class="row">
            <button class="button button-block button-positive activated" ng-click="Next(2)">Next</button>
        </div>

    </ion-content>
</ion-view>