<ion-view title="Payment Method" hide-nav-bar="true">
    <ion-content has-header="true" padding="true" class="padding">

        <h1>Payment:</h1>

        <div class="list">
            <ion-radio ng-model="payment_method" ng-click="setPaymentMethod(0)" value="0">NONE</ion-radio>
            <div ng-repeat="(key, payment) in payment_methods">
                <ion-radio ng-model="payment_method" ng-click="setPaymentMethod(key)" value="{{ key }}">
                    {{ payment.title }}
                </ion-radio>
            </div>
        </div>

        <div class="row">
            Select:
        </div>

        <div class="row">
            <button class="button button-block button-positive activated" ng-click="Next(5)">Next</button>
        </div>

    </ion-content>
</ion-view>