<ion-view title="Account" ng-controller="Account">
  <ion-content class="padding">
    <h1>Account</h1>
      <div class="row">
        {{ customers.firstname + " " + customers.lastname }}
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      </div>

      <div class="list">
          <label class="item item-input">
              <span class="input-label">Username:</span>
              <input type="text">
          </label>
          <label class="item item-input">
              <span class="input-label">Password:</span>
              <input type="password">
          </label>
      </div>

      <div class="row">
          <button class="button button-block button-positive activated">Login</button>
      </div>
  </ion-content>
</ion-view>
