<ion-view title="Products">
    <ion-content >
        <div class="list">
            <div ng-repeat="product in products">
                <a class="item item-thumbnail-left" href="#/tab/product/{{ product.product_id }}" ng-show="{{ product.product_id != null}}">
                    <img ng-src="{{ product.image }}">
                    <h2>{{ product.name }}</h2>
                    <p>{{ product.description }}</p>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>
