<ion-view title="Login" ng-controller="AccountCtrl">

    <ion-content class="padding">
        <h1>Profile</h1>
        <div class="row">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry.
        </div>

        <!-- Menu -->
        <div class="list">

            <a class="item item-icon-left" href="#">
                <i class="icon ion-chatbubble-working"></i>
                Notification
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-person-stalker"></i>
                Friends
                <span class="badge badge-assertive">2</span>
            </a>
            <a class="item item-icon-left" href="#">
                <i class="icon ion-bag"></i>
                Order Transaction
                <span class="badge badge-assertive"></span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-heart"></i>
                Wish List
                <span class="badge badge-assertive">2</span>
            </a>

            <a class="item item-icon-left" href="#">
                <i class="icon ion-bookmark"></i>
                Services
                <span class="badge badge-assertive"></span>
            </a>

            <div class="item item-button-right">
                Services
                <button class="button  button-positive">
                    <i class="icon ion-ios7-telephone"></i>
                </button>
            </div>

        </div>

        <div class="item item-divider">
            Account
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">Name: </span>
                {{ customer.firstname + " " + customer.lastname }}
            </label>
            <label class="item item-input">
                <span class="input-label">Email: </span>
                {{ customer.email }}
            </label>
            <label class="item item-input">
                <span class="input-label">Points: </span>
                {{ customer.points }}
            </label>
            <label class="item item-input">
                <span class="input-label">Balance: </span>
                {{ customer.balance }}
            </label>
        </div>

        <div class="item item-divider">
            Address
        </div>
        <div class="list">
            <label class="item item-input">
                <span class="input-label">1. </span>
                {{ customer.address_id }}
            </label>
        </div>
        <div class="row">
            <button class="button button-block button-positive activated" ng-click="Logout();">Logout</button>
        </div>
    </ion-content>
</ion-view>

