<ion-view title="Account">
  <ion-content class="padding">
    <h1>Account</h1>
      <div class="row">
          <div class="col col-90">
             Lorem Ipsum is simply dummy text of the printing and typesetting industry.
          </div>
      </div>

      <div class="list">
          <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text">
          </label>
          <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password">
          </label>
      </div>

      <div class="padding">
          <button class="button button-block button-positive activated">Submit</button>
      </div>
  </ion-content>
</ion-view>
